body {
  background-color: white;
}

.container {
  width: 90%;
  margin: 50px auto;
}

/*** Typography ***/
a {
  text-decoration: none;
}

.copyright {
  background-color: black;
  padding: 40px;
  text-align: center;
}

header a, footer a {
  display: flex;
  align-items: center;
  color: #9b9494;
}

header li {
  padding: 15px 5px;
}

header li,
.bottom-nav li {
  display: inline-block;
  padding: 5px 5px;
  font-size: 13px;
}

header li a footer li a,
footer .copyright {
  color: #a9a9a9;
}

h1 {
  font-size: 300%;
  font-weight: 900;
}

h2 {
  font-size: 150%;
}

h1,
h2,
h3,
h4,
h5,
.bottom-nav a {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.hero h1,
.hero h2 {
  font-size: 120%;
  font-weight: 900;
}

@media only screen and (min-width: 767px) {
  .hero h1 {
    font-size: 300%;
  }

  .first {
    visibility: hidden;
  }

  .second {
    margin-top: -10px;
  }
}

@media only screen and (min-width: 1023px) {
  .hero h1 {
    font-size: 400%;
  }

  .hero h2 {
    font-size: 200%;
  }
}

h3 {
  padding: 10px 0;
}

h4,
h5 {
  color: #f42;
  line-height: 1.2;
}

h4 {
  font-weight: normal;
  padding-bottom: 5px;
}

/*** Header ***/

header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  background-color: white;
}

@media only screen and (min-width: 767px) {
  header {
    position: static;
    background-color: black;
  }

  .bottom-nav {
    position: sticky;
    top: 0;
  }
}

header .top-nav {
  background-color: #131313;
}

nav,
.sticky-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.indexco a {
  color: #676767;
}

.deals a {
  color: #f42;
}

p,
.top-nav a {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.bottom-nav li a {
  color: #a9a9a9;
}

footer li a:hover {
  color: white;
}

.funding .title a {
  color: #f42;
  cursor: pointer;
  font-weight: bold;
}

.bottom-nav a:hover {
  color: #131313;
}

header .top-nav a:hover {
  color: white;
}

.indexco h3,
.value p {
  margin-left: 90px;
  padding-bottom: 10px;
}

.news figure h3,
.deals figure h3 {
  padding-top: 0;
}

.news .articles h3:hover,
.deals .articles h3:hover {
  color: #f42;
  cursor: pointer;
  font-weight: bold;
}

header .top-nav .active {
  color: white;
}

.articles2 li {
  color: #676767;
  line-height: 1.2;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  list-style-type: none;
}

.bottom-nav li {
  padding: 15px 5px;
}

header a i {
  padding: 0 5px;
}

.bottom-nav {
  background-color: white;
}

.search {
  background-color: white;
  border: 0;
  border-left: 1px solid #eee;
}

.hamberger i {
  padding: 10px;
  border-left: 1px solid #eee;
  color: #f42;
}

.search i {
  padding: 0 5px;
  color: #a9a9a9;
  transform: rotate(90deg);
}

.hamberger .search {
  padding: 10px;
  border-left: 1px solid #eee;
}

header .nav,
.bottom-nav {
  display: none;
}

@media only screen and (min-width: 767px) {
  header .nav {
    display: flex;
    flex: 1;
  }

  .bottom-nav {
    display: flex;
    justify-content: flex-start;
  }

  .hamberger {
    display: none;
  }
}

.hide,
.hide-article {
  display: none;
}

@media only screen and (min-width: 1213px) {
  nav .hide {
    display: inline-block;
  }
}

/*** Main ***/

.hero {
  height: 75vh;
  padding: 10px;
  display: grid;
  gap: 10px;
  color: white;
}

@media only screen and (min-width: 767px) {
  .hero {
    grid-template-columns: 2fr 1fr;
  }
}

.top-logo {
  background-color: black;
  width: 80px;
  padding: 10px;
}

@media only screen and (min-width: 1024px) {
  .top-logo {
    display: none;
    padding: 20px;
  }

  .hide-article {
    display: block;
  }
}

.main {
  background-image:
    linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/11/header-image-haiku-review-doogee-s95-pro-796x448.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
}

@media only screen and (min-width: 1024px) {
  .main {
    background-image:
      url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/cover-gradient.png),
          linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
      url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/11/header-image-haiku-review-doogee-s95-pro-796x448.png);
    justify-content: space-between;
  }
}

.top-hero {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .top-hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .top-hero .logo {
    width: 50%;
  }
}

.bottom-hero h1,
.aside h2,
.articles2 h2 {
  padding-top: 5px;
  padding-bottom: 10px;
}

.hero .aside {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.hero .aside .news1,
.image {
  padding: 20px;
}

.hero .aside .news1 {
  background-image:
    linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/tnw2020-feature_img-02.jpg);
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.image {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.news2 {
  background-image:
    linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/08/uber-lyft-ride-sharing-gig-prop-22-ride-hailing-future-ab5-california-car-taxi-796x448.jpg);
}

.container h2 {
  display: flex;
  align-items: baseline;
  color: #f42;
}

.title h2 {
  padding-bottom: 10px;
}

.container h2:hover,
.funding .title a:hover {
  color: #131313;
}

.news .articles,
.deals .articles {
  display: grid;
  gap: 20px;
  margin-top: 20px;
}

@media only screen and (min-width: 767px) {
  .news .articles,
  .deals .articles {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1024px) {
  .news .articles,
  .deals .articles {
    grid-template-columns: repeat(4, 1fr);
  }
}

.news figure,
.deals figure {
  display: flex;
}

.news img,
.deals img {
  width: 75px;
  height: 75px;
  margin-right: 10px;
  cursor: pointer;
}

@media only screen and (min-width: 767px) {
  .news figure,
  .deals figure {
    display: block;
  }

  .news img,
  .deals img {
    width: 100%;
    height: 201px;
    margin-right: 0;
  }

  .news img {
    height: 150px;
  }
}

@media only screen and (min-width: 767px) {
  .indexco {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
}

@media only screen and (min-width: 1023px) {
  .indexco {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
  }
}

.indexco * {
  cursor: pointer;
}

.indexco-articles img {
  width: 60px;
  height: 60px;
  position: relative;
  margin-top: -75px;
  top: 75px;
  left: 10px;
}

.funding hr {
  border-top: 1px solid #eee;
}

.contact nav li {
  display: inline-block;
}

.funding .title li {
  color: #f42;
  padding: 5px 0;
}

@media only screen and (min-width: 767px) {
  .funding .title li {
    display: inline-block;
    padding: 0 10px;
  }

  .funding .title li:first-child {
    padding-left: 0;
  }

  .funding .title li:not(:first-child) {
    border-left: 1px solid #f42;
  }
}

@media only screen and (min-width: 1023px) {
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .funding .title li {
    padding: 0 10px;
  }
}

.hide-all {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.background-tittle {
  background-color: #f42;
  color: white;
}

.indexco p {
  color: #2e2d2d;
}

.value {
  background-color: #ffebe7;
}

.tags {
  padding: 15px 0;
}

.tags p,
.indexco-footer {
  padding: 10px;
}

.deals p {
  font-size: 20px;
  color: #424141;
}

.tags p:hover {
  color: #020202;
}

.indexco-footer {
  line-height: 1.5;
}

.articles2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  color: white;
}

@media only screen and (min-width: 767px) {
  .articles2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1023px) {
  .articles2 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.articles2 .image {
  height: 300px;
  margin-top: 10px;
}

.articles2 .image h2 {
  color: white;
}

.articles2 .image h2:hover {
  text-decoration: underline;
  color: white;
}

.articles2 .hard-fork {
  background-image:
    linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/elonstonks-368x276.jpg);
}

.articles2 .apps {
  background-image:
    linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/11/car-what3words-here-navigation-satnav-future-ev-travel-car-368x276.jpg);
}

.articles2 .gear {
  background-image:
    linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/11/Snag_1ca26740-368x276.png);
}

.articles2 .tech {
  background-image:
    linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/11/image-14-368x276.png);
}

.articles2 .creative {
  background-image:
    linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/09/Untitled-design-13-368x276.jpg);
}

.articles2 .podium {
  background-image:
    linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/google-logo-podium-368x276.png);
}

.articles2 .insights {
  background-image:
    linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/11/freelancer-startup-gq-368x276.png);
}

.articles2 .launch {
  background-image:
    linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/hummer-ev-future-car-love-hate-next-gmc-gm-ultium-368x276.jpg);
}

.articles2 .distract {
  background-image:
    linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/WDL_screen_CoOp_e3_190610_2pm_PST_1560170638-368x276.jpeg);
}

.articles2 figure {
  background-color: #fff4f2;
  margin-top: 5px;
}

.articles2 figcaption {
  padding: 20px;
}

.articles2 figure img {
  width: 96px;
  height: 96px;
  float: right;
}

.clearfix {
  overflow: auto;
}

.articles2 ul li::before {
  content: "\2022";
  color: #f42;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.deals p .p1 {
  text-decoration: line-through;
  margin-right: 5px;
  font-size: 10px;
  color: #9b9494;
}

footer {
  display: flex;
  background-color: #131313;
  align-items: center;
  flex-direction: column;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 40px;
}

footer .icons .fab,
footer .icons .fas,
footer .iconify {
  border-radius: 50%;
  background-color: #333;
  padding: 10px;
  color: white;
  height: 16px;
  width: 16px;
  border: 2px solid #333;
  margin: 0 10px;
}

footer .icons .fab:hover,
footer .icons .fas:hover,
footer .iconify:hover {
  background-color: transparent;
}

.contact nav {
  display: block;
}

.contact nav ul {
  text-align: center;
}

.copyright .logo {
  width: 45px;
  padding: 0 5px;
}

.copy-background {
  background-color: black;
  width: 100%;
}
